---
import MainHead from "../components/MainHead.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
---

<html lang="en">
	<head>
		<MainHead
			title="About | Manuel Thomsen"
			description="About Manuel Thomsen Lorem Ipsum"
		/>
		<style>
			.heroImg {
				display: flex;
				align-items: center;
				justify-content: center;
				max-height: 100%;
				object-fit: contain;
				overflow: hidden;
			}
			.portrait {
				width: 100%;
				max-width: 20em;
				mix-blend-mode: multiply;
			}

			.heroImg img {
				position: relative;
				width: 100%;
			}

			.bio {
				font-size: var(--f-u1);
				line-height: 2;
				margin-top: 4em;
			}

			.wrapper.bio {
				max-width: 50em;
				padding: 0;
			}
			.quote {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				margin-top: 4em;
			}
			.quote p {
				color: var(--hidden-love);
				
				font-size: var(--f-u1);
				font-weight: 800;
				line-height: 2;
			}
			.link {
		text-decoration: none;
		font-size: var(--f-d1);
		padding-top: 0.75em;
	}
	.link-underlined {
		border-radius: 2px;		
		display: inline-block;
		position: relative;
		color: #0087ca;
	}
	.link-underlined::after {
		content: '';
		position: absolute;
		width: 100%;
		transform: scaleX(0);
		height: 2px;
		bottom: 0;
		left: 0;
		background-color: #0087ca;
		transform-origin: bottom right;
		transition: transform 0.25s ease-out;
	}
	.link-underlined:hover::after {
		transform: scaleX(1);
  		transform-origin: bottom left;
	}

	.link:hover,
	.link:focus {
		
	}
			.Hi {
				background-color: #22222255;
				background-blend-mode: multiply;
				color: white;
				position: absolute;
				font-weight: 600;
				font-size: 2rem;
			}
			@media (min-width: 750px) {

				.Hi {
					font-size: 4rem;
				}

				.quote {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				margin-top: 4em;
			}
			.quote p {
				
				margin-left: 2em;
				font-size: var(--f-u1);
				font-weight: 800;
				line-height: 2;
			}
			}
				
		</style>
	</head>
	<body>
		<Nav />
		<div class="wrapper">
			<h1>About Me</h1>
			<div class="heroImg">
				<span class="Hi">&nbsp&nbsp Hi there!🙋‍♂️ &nbsp&nbsp</span>
				<video
					loop
					muted
					autoplay
					width="100%"
					height="auto"
					src="../assets/product.mp4"></video>
			</div>
			<div class="bio wrapper">
				<p>
					
					Hey there! I'm <span class="link link-underlined">Manuel</span>, your go-to guy for all things software development and creative design. I'm super passionate about building digital products that are not just a breeze to use but also pack a punch in the looks department. Thanks to my experience in both software development and creative production, I'm a bit of a Swiss Army knife when it comes to tailoring products to fit my clients' unique needs.
					<br>
					<br>
					As a software developer, I'm all about making user-friendly apps that get the job done. But I'm also a creative at heart, so you'll find me dabbling in 3D design and motion graphics whenever I can. This combo of skills lets me stay on top of the latest trends and techniques, so I can keep delivering top-notch, cutting-edge solutions.
					<br>
					<br>
					When I'm not working my magic on client projects, you'll catch me nerding out over 3D design and motion graphics. I'm always learning and leveling up my skills with tools like Blender, Figma and Streamlit. My never-ending quest for growth in software development and creative design means I'm always ready to whip up digital products that are equal parts functional and eye-catching.
					<br>
					<br>

					So, come along for the ride as I keep pushing boundaries and blending the best of both worlds to create digital products that are not just easy to use, but a feast for the eyes too!
				</p>
				<div class="quote">
					<img class="portrait" src="../assets/manuel.png" alt="">
					<p>
						If you have an intriguing idea for an AI, AR, or 3D project, I'd love to hear about it! I'm always up for a challenge and eager to collaborate with like-minded individuals who share my enthusiasm for innovation.
					</p>
				
					
				</div>
			</div>
			<!-- 2 col responsive div with text on the left and an image on the right -->
			

		</div>
		<Footer />
	</body>
</html>
