
<nav>
	<video preload="auto" id="nav_video_bg" autoplay loop muted src="assets/sky_bw.mp4"></video>
	<a class="link" href="/portfolio/">
		<div class="monogram">Home</div>
	</a>
	<a class="link link-underlined" href="/portfolio/projects/"> <div>Portfolio</div></a>
	<a class="link link-underlined" href="/portfolio/about/"> <div>About</div></a>
	<a class="link link-underlined" href="/portfolio/skilltree/"> <div>Skills</div></a>
	
</nav>

<style>
	nav {
		
		display: flex;
		gap: 1rem;
		align-items: center;
		justify-content: center;
		padding: 1rem;
		background-color: var(--c-white);
		
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		box-sizing: content-box;
		z-index: 100;
	
	}
	nav video {
		position: absolute;
		filter: saturate(0);
		mix-blend-mode: multiply;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		object-fit: cover;
		z-index: -1;
		opacity: 0.5;
	}
	@media (min-width: 750px) {
		nav {
			justify-content: flex-start;
			/* position: relative; */
			top: 0;
			bottom: initial;
			left: initial;
			/* width: initial; */
			padding: 1rem 2rem;
		}
	}

	.link {
		text-decoration: none;
		font-size: var(--f-d1);
		text-transform: uppercase;
		padding-top: 0.75em;
		padding-bottom: 0.75em;
	}
	.link-underlined {
		border-radius: 2px;		
		display: inline-block;
		position: relative;
		color: #0087ca;
	}
	.link-underlined::after {
		content: '';
		position: absolute;
		width: 100%;
		transform: scaleX(0);
		height: 2px;
		bottom: 0;
		left: 0;
		background-color: #0087ca;
		transform-origin: bottom right;
		transition: transform 0.25s ease-out;
	}
	.link-underlined:hover::after {
		transform: scaleX(1);
  		transform-origin: bottom left;
	}


	.monogram {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 4em;
		height: 4em;
		margin-right: 0.5rem;
		color: #0087ca;
		font-weight: 900;
		/* letter-spacing: -0.125rem; */
		border: 3px solid var(--hidden-blue);
		border-radius: 50%;
	}
	.monogram:hover {
		
		border-color: var(--hidden-love);
	}

	.socials {
		display: flex;
		gap: 0.75em;
		
	}

	.social {
		display: block;
	}

	.socialIcon {
		display: block;
		width: 1.25rem;
		height: 1.25rem;
		fill: var(--t-subdue);
		transition: fill linear 150ms;
	}

	.socialIcon:hover {
		fill: var(--t-active);
	}
</style>